##################################################
# VELON IA - PRODUÇÃO
##################################################

PROJECT_NAME=velonia
DOMAIN=velonia.com.br
EMAIL=contato@velonia.com.br
TIMEZONE=America/Sao_Paulo

##################################################
# DOMÍNIOS DOS SERVIÇOS
##################################################

ROOT_DOMAIN=velonia.com.br
API_DOMAIN=api.velonia.com.br
N8N_DOMAIN=n8n.velonia.com.br
PORTAINER_DOMAIN=portainer.velonia.com.br

# Futuro
CRM_DOMAIN=crm.velonia.com.br
CHAT_DOMAIN=chat.velonia.com.br
MONITOR_DOMAIN=monitor.velonia.com.br
DOCS_DOMAIN=docs.velonia.com.br

##################################################
# POSTGRES
##################################################

POSTGRES_DB=velonia
POSTGRES_USER=velonia
POSTGRES_PASSWORD=Velon_1992@#Ana15P0st

POSTGRES_HOST=postgres
POSTGRES_PORT=5432

##################################################
# REDIS
##################################################

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=Velon_1992@#Ana15R3d1s

##################################################
# N8N
##################################################

N8N_USER=admin
N8N_PASSWORD=Velon_1992@#Ana15N8n
N8N_PROTOCOL=https
N8N_HOST=n8n.velonia.com.br
N8N_PORT=5678
N8N_WEBHOOK_URL=https://n8n.velonia.com.br

##################################################
# EVOLUTION API
##################################################

EVOLUTION_DOMAIN=api.velonia.com.br
EVOLUTION_PORT=8080
EVOLUTION_API_KEY=Velon_1992@#Ana15Ev0

##################################################
# PORTAINER
##################################################

PORTAINER_PORT=9000

##################################################
# TRAEFIK
##################################################

TRAEFIK_DASHBOARD=false
TRAEFIK_ENTRYPOINT_WEB=web
TRAEFIK_ENTRYPOINT_WEBSECURE=websecure
TRAEFIK_CERT_RESOLVER=letsencrypt
